root = true

[*]
ij_continuation_indent_size = 8
ij_formatter_off_tag = @formatter:off
ij_formatter_on_tag = @formatter:on
ij_formatter_tags_enabled = true
max_line_length = 120
indent_size = 2
indent_style = space


[{*.py,*.pyw}]
ij_python_call_parameters_new_line_after_left_paren = true
ij_python_call_parameters_wrap = on_every_item
ij_python_dict_new_line_after_left_brace = true
ij_python_dict_new_line_before_right_brace = true
